[webservers]
deb1.yourdomain.com
deb2.yourdomain.com

[openvpn_server]
deb3.yourdomain.com

[openvpn_client]
desktop.yourdomain.local
laptop.yourdomain.local

[devops]
deb4.yourdomain.local

[workstation]
desktop.yourdomain.local
laptop.yourdomain.local
