[webservers]
www.yourdomain.com

[openvpn_server]
vpn.yourdomain.com
korvos.jlrickert.local

[openvpn_authority]
ca.yourdomain.com

[openvpn_client]
www.yourdomain.com
desktop.yourdomain.local
laptop.yourdomain.local

[devops]
devops.yourdomain.local

[workstation]
desktop.yourdomain.local
laptop.yourdomain.local

