# {{ ansible_managed }}

server {
  listen 80;
  listen [::]:80;
  listen 443 ssl http2;
  listen [::]:443 ssl http2;

  server_name jlrickert.me;

  keepalive_timeout 5;

  ssl_certificate /etc/letsencrypt/live/jlrickert.me/fullchain.pem; # managed by Certbot
  ssl_certificate_key /etc/letsencrypt/live/jlrickert.me/privkey.pem; # managed by Certbot

  access_log /var/log/nginx/jlrickert.me/access.log;
  error_log /var/log/nginx/jlrickert.me/error.log;

  root /srv/http/jlrickert.me;

  location / {
    index index.html;
    error_page 404 = /404.html;
  }

  include conf.d/letsencrypt.conf;
}
