# {{ ansible_managed }}

server {
    listen 80;
    listen 443 ssl;
    server_name jlrickert.me;
    keepalive_timeout 5;

    access_log {{ nginx.log }}/jlrickert.me/access.log;

    root {{ jlrickert_me.directory }};

    location / {
        index index.html;
        error_page 404 = /404.html;
    }
}
